## SugarCRM
# Ignore custom .htaccess stuff.
/.htaccess

# Ignore large parts of the annoying cache directory without breaking things.
/cache

# Ignore some files and directories from the custom directory.
/custom

# Ignore upload files
/upload

# Ignore PHPExcel files
/PHPExcel

# The silent upgrade scripts aren't needed.
silentUpgrade*.php
# Logs files can safely be ignored.
*.log

# Custom configuration should also be ignored.
/config.php
/config_override.php

include/javascript/sugar_grp1.js
include/javascript/sugar_grp1_yui.js
include/javascript/sugar_grp_yui_widgets.js
include/javascript/sugar_grp_yui_widgets.css
include/javascript/sugar_grp_yui2.js
include/javascript/sugar_grp_overlib.js
include/javascript/sugar_grp_emails.js
include/javascript/sugar_grp_quickcomp.js
# Eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath
.buildpath
# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
.elc
auto-save-list
tramp
# IntelliJ Idea
*.iml
*.ipr
*.iws
.idea/
# NetBeans
nbproject/
# Vim
.*.sw[a-z]
*.un~
Session.vim
# Cscope
cscope.*
# Windows
Thumbs.db
Desktop.ini

#MindManager
~*
